.header{
  text-align: center;
}
.container{
  height: 100vh;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #327ba8;
  justify-content: space-evenly;
  align-content: space-around;
}
button{
  background-color: darkgoldenrod;
  max-width: 100px;
}

.card{
  background-color: black;
}